.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #004d00;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 1000;
}


.login-container {
  top: 40%;
  max-width: 400px;
  margin-top: 800px;
  margin: 80px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-heading {
  margin-bottom: 20px;
  color: #1e3d2f;
}

.input-field {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.signup-text {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.signup-link {
  color: #4CAF50;
  cursor: pointer;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}
